@import "rem";
@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap");

body {
	font-family: "Cousine", monospace;
	color: #fff;
	background-color: #222;
}

a {
	color: gold;
	display: block;
	text-decoration: underline;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.search-user {
	width: 100%;
	min-height: 70px;
	padding: 30px;
	background-color: #252525;
	box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.container {
		height: 100%;
	}

	input {
		height: 100%;
		font-size: 18px;
		color: #fff;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		background-color: #252525;
	}
}

.loading {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&::before {
		content: "";
		position: absolute;
		top: 125%;
		left: 0;
		width: 7px;
		height: 7px;
		border-radius: 10px;
		background-color: #fff;

		animation: loading-anim 1s linear infinite alternate;

		@keyframes loading-anim {
			0% {
				left: -5px;
			}
			100% {
				left: 100%;
			}
		}
	}
}

#git-user {
	max-width: 1200px;
	width: 100%;
	min-height: 500px;
	position: relative;
}

.user {
	width: 100%;
	height: 100%;
	background-color: #252525;
	box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.7);
	// box-shadow: 0px 0px 57px 0px rgba(255, 255, 255, 0.07);
	border-radius: 10px;
	padding: 30px;
	display: flex;
	align-items: flex-end;
	gap: 50px;

	&__box {
		flex: 1;
	}

	&__img {
		width: 300px;
		height: 300px;
		border-radius: 10px;
		overflow: hidden;
		background-color: #333;
		margin-bottom: 20px;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__info {
		height: 70px;
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 18px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);

		b {
		}
		span {
		}
	}

	&__name {
	}

	&__login {
	}

	&__url {
	}

	&__blog {
	}

	&__pub-repo {
	}

	&__data {
	}

	&__follow-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__followers,
	&__following {
		display: flex;
		gap: 10px;
	}

	&__followers {
	}

	&__following {
	}
}
