@import "rem";
@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap");

body {
	font-family: "Cousine", monospace;
	color: #fff;
	background-color: #222;
}

a {
	color: gold;
	display: block;
	text-decoration: underline;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.search {
	width: 100%;
	min-height: 70px;
	padding: 30px;
	background-color: #252525;
	box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.7);
	// position: absolute;
	// top: 0;
	// left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;

	.container {
		height: 100%;
	}

	input {
		width: 100%;
		height: 100%;
		padding: 15px 0;
		text-align: center;
		font-size: 18px;
		color: #fff;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		background-color: #252525;
	}
}

.info {
	color: gold;
	font-size: 30px;
	font-weight: 700;

	@media (max-width: 768px) {
		font-size: 18px;
	}
}

.loading {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&::before {
		content: "";
		position: absolute;
		top: 125%;
		left: 0;
		width: 7px;
		height: 7px;
		border-radius: 10px;
		background-color: #fff;

		animation: loading-anim 1s linear infinite alternate;

		@keyframes loading-anim {
			0% {
				left: -5px;
			}
			100% {
				left: 100%;
			}
		}
	}
}

.error {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&__title {
		font-size: 40px;
		color: gold;
	}
}

#git-user {
	max-width: 1200px;
	width: 100%;
	min-height: 500px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.user {
	width: 100%;
	height: 100%;
	background-color: #252525;
	box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.7);
	// box-shadow: 0px 0px 57px 0px rgba(255, 255, 255, 0.07);
	border-radius: 10px;
	padding: 30px;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	column-gap: 50px;

	@media (max-width: 768px) {
		padding: 10px;
	}

	&__box {
		flex: 1;
	}

	&__img {
		max-width: 400px;
		min-width: 290px;
		height: auto;
		border-radius: 10px;
		overflow: hidden;
		background-color: #333;
		margin-bottom: 20px;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__info {
		min-width: 290px;
		text-overflow: ellipsis;
		height: 70px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		overflow: hidden;
		gap: 10px;
		font-size: 18px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	&__follow-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__followers,
	&__following {
		display: flex;
		gap: 10px;
	}
}
