body {
    color: #fff;
    background: url('@img/about-img.png') 0 0 no-repeat;
    background-color: #d23220;
}

@media (max-width:768px) {
    span {
        font-size: 10px;
    }
}

@media (max-width:768px) {
    body {
        background: greenyellow;
    }
}